node_modules/
coverage/
*.log
.env
*.env.local
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
*.tfvars
reports/
trivy-*.json
trivy-*.sarif
checkov-*.json
npm-audit*.json
infracost.json
zap-report/
results.sarif
.DS_Store
